body {
    background-color: #fffffd;
}

button {
    background-color: #820000;
    color: #f9f3f3;
    font-family: Nunito, sans-serif;
    padding: 12px 24px;
}
.container {
    min-width: 85vw;
}
h1,
h6 {
    font-family: Knewave, system-ui;
    color: rgba(0, 0, 0, 0.938);
}
h1 {
    font-size: 3rem !important;
}
#title {
    font-family: Hind;
    font-size: 48px !important;
    line-height: 0.6;
}
h6 {
    font-size: 24px !important;
    margin-left: 4rem !important;
}

.navbar {
    transition: all 0.5s;
}

.nav-scrolled {
    background-color: rgba(227, 224, 222, 0.5);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.35);
}

.nav-link {
    font-family: Nunito, sans-serif;
    color: rgba(0, 0, 0, 0.938);
    font-size: 18px;
    font-weight: 800;
}

.button-modal:hover {
    color: #820000 !important;
    font-size: 22px !important;
}

.card:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.11);
    border-radius: 1.5rem;
    transform: translate3D(0, -1px, 0) scale(1.03); /* move up slightly and zoom in */
    box-shadow: 8px 28px 50px rgba(39, 44, 49, 0.07),
        1px 6px 12px rgba(39, 44, 49, 0.04);
    transition: all 0.4s ease; /* zoom in */
    cursor: pointer;
}

.purches {
    border-bottom: 1px dashed grey;
}
.amount:focus {
    outline: none;
}
#purchesList {
    background-color: #fff7f7 !important;
}
.cancel {
    color: rgba(0, 0, 0, 0.44);
    background-color: rgba(236, 216, 216, 0.31);
}
input,
textarea,
select {
    background-color: #fff7f7 !important;
}
.boxshadow {
    border-radius: 32px;
    background: #faf5f5;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.containForm {
    background-color: #820000;
    border-radius: 32px 0 0 32px;
}

.containFormReservation {
    background-color: #820000;
    border-radius: 0 32px 32px 0;
}

@media screen and (max-width: 980px) {
    .formImg,
    .formImgResv,
    .formImgResv img {
        display: none !important;
    }
    .containForm,
    .containFormReservation {
        width: 100vw !important;
        border-radius: 32px;
    }
}

.containForm button,
.containFormReservation button {
    background-color: #000000;
    color: #ffffff;
    padding: 13px 15px;
}
.containForm button:hover,
.containFormReservation button:hover {
    background-color: #0000003f;
    color: #ffffff;
}

.wrap .carousels {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    white-space: nowrap;
    overflow: hidden;
}

.warp {
    max-width: 1200px;
}
.carousels .card {
    margin-right: 20px;
}

@media (max-width: 575.98px) {
    .carousels .card {
        width: 16rem !important;
    }
}

footer {
    background-color: rgba(36, 14, 14, 0.13);
}

@media screen and (max-width: 1300px) {
    #floatingEmail {
        width: 250px !important;
    }
}

@media screen and (max-width: 1100px) {
    .topFooter {
        flex-wrap: wrap;
    }
    .footerLogo {
        width: 50vw;
    }
    .footerSubscribe {
        justify-content: center !important;
        width: 100vw;
    }
    .footerSubscribeChild {
        margin-left: 0;
        padding-left: 0;
    }

    #floatingEmail {
        width: 320px !important;
    }
}

@media screen and (max-width: 920px) {
    .footerLogo {
        width: 35vw;
    }
}

@media screen and (max-width: 560px) {
    .footerLogo {
        width: 100vw;
        margin-top: 1rem;
    }

    .footerLink {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .footerSubscribe {
        justify-content: center !important;
        width: 100vw;
    }
    .footerSubscribeChild {
        margin-left: 0 !important;
        padding-left: 0 !important;
        text-align: center;
    }

    #floatingEmail {
        width: 325px !important;
    }
}
