body {
    padding: 0;
    margin: 0;
}
button,
.orderNow {
    background-color: #820000;
    color: #f9f3f3;
    font-family: Nunito, sans-serif;
    padding: 12px 24px;
}

.orderNow {
    text-decoration: none;
}
.container {
    min-width: 85vw;
}

h1 {
    font-family: Knewave, system-ui;
    color: rgba(0, 0, 0, 0.938);
    font-size: 3rem !important;
}
h3,
h5 {
    font-family: Hind;
}

.nav-scrolled {
    background-color: rgba(227, 224, 222, 0.5);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.35);
}
.navbar {
    transition: all 0.5s;
}

.nav-link {
    font-family: Nunito, sans-serif;
    color: rgba(0, 0, 0, 0.938);
    font-size: 18px;
    font-weight: 800;
}

.head-image {
    background-image: url(../asset/images/26d0f169ab80d608dbb076155379ca65.jpeg) !important;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.text-header {
    background-image: linear-gradient(rgba(196, 194, 194, 0.295), #030303d2);
}

.title {
    font-size: 160px;
    font-family: Knewave, system-ui;
    color: rgba(0, 0, 0, 0.938);
}

.subtitle {
    font-family: La Belle Aurore;
    font-size: 56px;
    text-align: center;
    line-height: 1;
    color: rgba(250, 250, 250, 0.822);
}

@media screen and (max-width: 1000px) {
    .title {
        font-size: 100px;
        margin-bottom: 35px !important;
    }
    .subtitle {
        font-size: 40px;
    }
    #orderNow {
        font-size: 20px !important;
    }
    #orderNow2 {
        font-size: 20px !important;
    }
    .bi-arrow-right {
        font-size: 20px !important;
    }
}

#korean {
    background-image: url(/asset/images/dfd4d3904d9240451ae2fe2ad83edd8b.jpeg);
    background-position: center center;
    background-size: cover;
}
#koreanCard {
    background-color: rgba(251, 243, 240, 0.69) !important;
}

#japanese {
    background-image: url(/asset/images/japanese.jpeg);
    background-position: center center;
    background-size: cover;
}
#japaneseCard {
    background-color: rgba(254, 239, 202, 0.59) !important;
}
#sushi {
    background-image: url(/asset/images/sushi.jpeg);
    background-position: center center;
    background-size: cover;
}
#sushiCard {
    background-color: rgba(241, 188, 159, 0.59) !important;
}

#drinks {
    background-image: url(/asset/images/drinks.jpeg);
    background-position: center center;
    background-size: cover;
}
#drinksCard {
    background-color: rgba(254, 239, 202, 0.59) !important;
}
#services {
    background-color: rgba(232, 223, 223, 0.34);
}
#dineIn,
#brithDay {
    background-color: rgba(130, 0, 0, 0.15);
}
#delivery,
#catering {
    background-color: rgba(0, 0, 0, 0.21);
}

main {
    overflow: hidden;
}

.wrap .carousels {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    white-space: nowrap;
    overflow: hidden;
}

.warp {
    max-width: 1200px;
}
.carousels .card {
    margin-right: 20px;
}

.carousels .card {
    @media (max-width: 550px) {
        width: 18rem !important;
    }
}

.carousels .card img {
    @media (max-width: 550px) {
        height: 20rem !important;
    }
}

.catMenu,
.catMenu button {
    @media (max-width: 730px) {
        width: 200px !important;
        height: 200px !important;
    }
}

.button-modal:hover {
    color: #820000 !important;
    font-size: 22px !important;
}

.card:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.11);
    border-radius: 1.5rem;
    transform: translate3D(0, -1px, 0) scale(1.03); /* move up slightly and zoom in */
    box-shadow: 8px 28px 50px rgba(39, 44, 49, 0.07),
        1px 6px 12px rgba(39, 44, 49, 0.04);
    transition: all 0.4s ease; /* zoom in */
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .carousel-title {
        padding-bottom: 0.5rem !important;
    }
    .carousel-img {
        height: 300px !important;
    }
}
.service-img {
    width: 50px;
}

.cardBranch {
    position: relative;
    width: 325px;
    height: 450px;
    background: #000;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1727px) {
    .cardBranch {
        width: 250px;
        height: 350px;
    }
    .details {
        bottom: -65% !important;
    }
}

@media screen and (max-width: 674px) {
    .cardBranch {
        width: 200px;
        height: 270px;
    }

    .details {
        bottom: -93% !important;
    }
    .details h1 {
        font-size: 20px !important;
    }
}

.cardBranch:hover {
    bottom: 0;
}

.poster img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.cardBranch:hover .poster img {
    transform: scale(1.1);
}

.details {
    position: absolute;
    bottom: -42%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1.5em 1.5em 2em;
    background: rgba(0, 0, 0, 0.253);
    backdrop-filter: blur(16px) saturate(120%);
    transition: 0.3s;
    color: #fff;
    z-index: 2;
}

.cardBranch:hover .details {
    bottom: 0;
}

.details h1 {
    font-weight: 700;
}

.details p {
    font-size: 14px;
}

.details .desc {
    color: #fff;
    opacity: 0.8;
    line-height: 1.5;
    margin-bottom: 1em;
}

footer {
    background-color: rgba(36, 14, 14, 0.13);
}

@media screen and (max-width: 1300px) {
    #floatingEmail {
        width: 250px !important;
    }
}

@media screen and (max-width: 1100px) {
    .topFooter {
        flex-wrap: wrap;
    }
    .footerLogo {
        width: 50vw;
    }
    .footerSubscribe {
        justify-content: center !important;
        width: 100vw;
    }
    .footerSubscribeChild {
        margin-left: 0;
        padding-left: 0;
    }

    #floatingEmail {
        width: 320px !important;
    }
}

@media screen and (max-width: 920px) {
    .footerLogo {
        width: 35vw;
    }
}

@media screen and (max-width: 560px) {
    .footerLogo {
        width: 100vw;
        margin-top: 1rem;
    }

    .footerLink {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .footerSubscribe {
        justify-content: center !important;
        width: 100vw;
    }
    .footerSubscribeChild {
        margin-left: 0 !important;
        padding-left: 0 !important;
        text-align: center;
    }

    #floatingEmail {
        width: 325px !important;
    }
}
